In [11]:
import pandas as pd
# help(pd)
l = [1,2,3,4,5,6]
pd_sr = pd.Series(l,index=['a','b','c','d','e','f'])
print(pd_sr)

a    1
b    2
c    3
d    4
e    5
f    6
dtype: int64

In [13]:
l= [("1",1),("2",2),("3",3),("4",4),("5",5)]
sr= pd.Series(l, index=['a','b','c','d','e'])
print(sr)

a    (1, 1)
b    (2, 2)
c    (3, 3)
d    (4, 4)
e    (5, 5)
dtype: object

In [18]:
d = {"ram":15,"shyam":14,"gita":12}
sr= pd.Series(d)
sr["gita"] =16
print(sr)

ram      15
shyam    14
gita     16
dtype: int64

In [21]:
#head method default 5 value from top
sr.head(2)

ram      15
shyam    14
dtype: int64

In [22]:
#tail method default 5 value from bottom
sr.tail(2)

shyam    14
gita     16
dtype: int64

In [30]:
l = [1,2,3,4,5,6,7,2,4,0,11]
x= pd.Series(l).head(6)
print(x)

0    1
1    2
2    3
3    4
4    5
5    6
dtype: int64

In [141]:
## data frame
l = [{"ram":15,"shyam":14,"gita":12},{"ram":15,"shyam":14,"gita":12}]
df =pd.DataFrame(l)
print(df)

   ram  shyam  gita
0   15     14    12
1   15     14    12

In [12]:
##loc method key
csv=  pd.read_csv("../data.csv")

print(csv.loc[4:8:2,['Duration',"Pulse"]]) # [row slicing, column ki slicing|list]
print(csv.loc[[1,5,10],['Maxpulse','Calories']])

   Duration  Pulse
4        45    117
6        60    110
8        30    109
    Maxpulse  Calories
1        145     479.0
5        127     300.0
10       147     329.3

In [151]:
#column names
print(csv.columns)

Index(['Duration', 'Pulse', 'Maxpulse', 'Calories'], dtype='object')

In [160]:
# iloc method indexing[row,col] or [row slicing, col slicing] or [row list , col list]
print(csv.iloc[0:5,1:3])
print(csv.iloc[[0,3,5],[0,2]])
print(csv.head())

   Pulse  Maxpulse
0    110       130
1    117       145
2    103       135
3    109       175
4    117       148
   Duration  Maxpulse
0        60       130
3        45       175
5        60       127
   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0

In [165]:
#describe method ## count, min, max , mean, std, percentile
print(csv.head().describe())

        Duration       Pulse    Maxpulse    Calories
count   5.000000    5.000000    5.000000    5.000000
mean   54.000000  111.200000  146.600000  383.300000
std     8.215838    5.932959   17.472836   74.824996
min    45.000000  103.000000  130.000000  282.400000
25%    45.000000  109.000000  135.000000  340.000000
50%    60.000000  110.000000  145.000000  406.000000
75%    60.000000  117.000000  148.000000  409.100000
max    60.000000  117.000000  175.000000  479.000000

In [168]:
#apply method
l = [{"ram":15,"shyam":14,"gita":12},{"ram":15,"shyam":14,"gita":12}]
df=  pd.DataFrame(l)
print(df)
# def fun(val):
#     return val+2
newDf = df.apply(lambda val: val+2)
print(newDf)

   ram  shyam  gita
0   15     14    12
1   15     14    12
   ram  shyam  gita
0   17     16    14
1   17     16    14

In [169]:
##agregate method alt of describe
csv.aggregate(['min','max'])

     Duration  Pulse  Maxpulse  Calories
min        15     80       100      50.3
max       300    159       184    1860.4

In [170]:
csv.aggregate({"Duration":['min','max'],
              "Pulse":['min'],
              "Maxpulse":['max']})

     Duration  Pulse  Maxpulse
min        15   80.0       NaN
max       300    NaN     184.0

In [178]:
#drop method to delete column,row
print(csv.head())
csv.drop(['Maxpulse'], axis =1,inplace = True)
print(csv.head())

   Duration  Pulse  Maxpulse  Calories
0        60    110       130     409.1
1        60    117       145     479.0
2        60    103       135     340.0
3        45    109       175     282.4
4        45    117       148     406.0
   Duration  Pulse  Calories
0        60    110     409.1
1        60    117     479.0
2        60    103     340.0
3        45    109     282.4
4        45    117     406.0

In [188]:
#insert for column
l = [{"ram":15,"shyam":14,"gita":12},{"ram":15,"shyam":14,"gita":12}]
df=  pd.DataFrame(l)
print(df)
df.insert(0,"Sum",[1,2])
print(df)

   ram  shyam  gita
0   15     14    12
1   15     14    12
None
   Sum  ram  shyam  gita
0    1   15     14    12
1    2   15     14    12

In [190]:
newCsv =csv.head()
newCsv.insert(3,"Sum",[1,2,3,4,5])
print(newCsv)

   Duration  Pulse  Calories  Sum
0        60    110     409.1    1
1        60    117     479.0    2
2        60    103     340.0    3
3        45    109     282.4    4
4        45    117     406.0    5

In [192]:
#insert through loc method
newData= [1,2,3,4,5]
newCsv =csv.head()
newCsv.loc[:,'Sum'] = newData
print(newCsv)

   Duration  Pulse  Calories  Sum
0        60    110     409.1    1
1        60    117     479.0    2
2        60    103     340.0    3
3        45    109     282.4    4
4        45    117     406.0    5

C:\Users\DELL\AppData\Local\Temp\ipykernel_8068\3248541914.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newCsv.loc[:,'Sum'] = newData

In [196]:
#append method used to add row in csv
newCsv =csv.head()
data= {"Duration":5,
      "Pulse":10,
      "Calories":100}
# df1 = pd.DataFrame(data)
# newCsv.append(df1,ignore_index=True)
# print(newCsv)

In [13]:
#sort_values
newCsv=  csv.head(10)
newCsv.sort_values(["Duration","Pulse"],axis=0,ascending=[True,False], inplace=True)
print(newCsv)

   Duration  Pulse  Maxpulse  Calories
8        30    109       133     195.1
4        45    117       148     406.0
3        45    109       175     282.4
7        45    104       134     253.3
1        60    117       145     479.0
0        60    110       130     409.1
6        60    110       136     374.0
2        60    103       135     340.0
5        60    102       127     300.0
9        60     98       124     269.0

C:\Users\DELL\AppData\Local\Temp\ipykernel_1308\899463541.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newCsv.sort_values(["Duration","Pulse"],axis=0,ascending=[True,False], inplace=True)

In [205]:
#Reading Excel File
ex=  pd.ExcelFile("../student.xlsx")
# ex.parse("")
# print(help(ex))
print(ex.sheet_names)
df =ex.parse('detailed-leaderboard')
print(df.head())

['detailed-leaderboard']
                   0                        1                         2  \
0               Name                    Email                Start Time
1        Aamash Alvi   aamashalvi01@gmail.com  2024-01-19T09:00:06.562Z
2         humra khan   khanhumra024@gmail.com  2024-01-19T08:46:10.506Z
3       Umair Kidwai  umairkidwai88@gmail.com  2024-01-19T08:46:17.155Z
4  Abhash Srivastava     abhashsr18@gmail.com  2024-01-19T08:47:43.730Z

                          3                    4  \
0                  End Time  Alice Rotates Array
1  2024-01-19T10:30:00.000Z                    0
2  2024-01-19T10:13:09.239Z                   80
3  2024-01-19T09:46:17.922Z                    0
4  2024-01-19T09:58:37.342Z                  100

                                                   5                 6  \
0                                         Submission  Submission Count
1  #include <iostream>\nusing namespace std;\n\nv...                 3
2  import java.util.*;\npublic class Main {\n    ...                 2
3                                                  -                 0
4  #include <iostream>\n#include <bits/stdc++.h>\...                 2

                7                 8           9                10  \
0  Languages Used  College MCQ Test  Submission  Submission Count
1             cpp                 0         ée                 1
2            java                76         ée                 1
3             NaN                48         ée                 1
4             cpp                64         ée                 1

               11                        12  \
0  Languages Used  Move all zero to the end
1             qna                         0
2             qna                       100
3             qna                         0
4             qna                       100

                                                  13                14  \
0                                         Submission  Submission Count
1                                                  -                 0
2  import java.util.*;\npublic class Main {\n    ...                 1
3  #include<iostream>\n#include<vector>\nusing na...                 1
4  #include<iostream>\n#include<bits/stdc++.h>\n\...                 1

               15               16  \
0  Languages Used  Samraj And Bits
1             NaN                0
2            java               20
3             cpp                0
4             cpp               20

                                                  17                18  \
0                                         Submission  Submission Count
1                                                  -                 0
2  import java.util.*;\npublic class Main {\n    ...                 1
3                                                  -                 0
4  #include<iostream>\n#include<bits/stdc++.h>\n\...                 2

               19
0  Languages Used
1             NaN
2            java
3             NaN
4             cpp

In [206]:
ex=  pd.read_excel("../student.xlsx")
print(ex.head())

                   0                        1                         2  \
0               Name                    Email                Start Time
1        Aamash Alvi   aamashalvi01@gmail.com  2024-01-19T09:00:06.562Z
2         humra khan   khanhumra024@gmail.com  2024-01-19T08:46:10.506Z
3       Umair Kidwai  umairkidwai88@gmail.com  2024-01-19T08:46:17.155Z
4  Abhash Srivastava     abhashsr18@gmail.com  2024-01-19T08:47:43.730Z

                          3                    4  \
0                  End Time  Alice Rotates Array
1  2024-01-19T10:30:00.000Z                    0
2  2024-01-19T10:13:09.239Z                   80
3  2024-01-19T09:46:17.922Z                    0
4  2024-01-19T09:58:37.342Z                  100

                                                   5                 6  \
0                                         Submission  Submission Count
1  #include <iostream>\nusing namespace std;\n\nv...                 3
2  import java.util.*;\npublic class Main {\n    ...                 2
3                                                  -                 0
4  #include <iostream>\n#include <bits/stdc++.h>\...                 2

                7                 8           9                10  \
0  Languages Used  College MCQ Test  Submission  Submission Count
1             cpp                 0         ée                 1
2            java                76         ée                 1
3             NaN                48         ée                 1
4             cpp                64         ée                 1

               11                        12  \
0  Languages Used  Move all zero to the end
1             qna                         0
2             qna                       100
3             qna                         0
4             qna                       100

                                                  13                14  \
0                                         Submission  Submission Count
1                                                  -                 0
2  import java.util.*;\npublic class Main {\n    ...                 1
3  #include<iostream>\n#include<vector>\nusing na...                 1
4  #include<iostream>\n#include<bits/stdc++.h>\n\...                 1

               15               16  \
0  Languages Used  Samraj And Bits
1             NaN                0
2            java               20
3             cpp                0
4             cpp               20

                                                  17                18  \
0                                         Submission  Submission Count
1                                                  -                 0
2  import java.util.*;\npublic class Main {\n    ...                 1
3                                                  -                 0
4  #include<iostream>\n#include<bits/stdc++.h>\n\...                 2

               19
0  Languages Used
1             NaN
2            java
3             NaN
4             cpp

In [229]:
l = [{"ram":15,"shyam":14,"gita":12},{"ram":15,"shyam":14,"gita":12}]
s= pd.DataFrame(l)
writer = pd.ExcelWriter('pandas.xlsx',  
                   engine ='xlsxwriter') 
  
# Write a dataframe to the worksheet. 
s.to_excel(writer, sheet_name ="MySheet")

In [230]:
newEx= pd.read_excel("./pandas.xlsx",engine="xlsxwriter")
print(newEx)

ValueError: Unknown engine: xlsxwriter

In [3]:
l = [{"ram":15,"shyam":14,"gita":12},{"ram":15,"shyam":14,"gita":12}]
s= pd.DataFrame(l)
s.to_csv("mycsv.csv",index=True, header=True)

In [10]:
re=['0','1']
required_df = pd.read_excel('../student.xlsx', usecols = re)  
    
print(required_df)

                        0                              1
0                    Name                          Email
1             Aamash Alvi         aamashalvi01@gmail.com
2              humra khan         khanhumra024@gmail.com
3            Umair Kidwai        umairkidwai88@gmail.com
4       Abhash Srivastava           abhashsr18@gmail.com
5            Ailya Fatima    ailyafatima572022@gmail.com
6          Prashant Singh   babusahab.prashant@gmail.com
7         Nishant Jaiswal         jaiswalnj075@gmail.com
8             Shreya null    shreya.singh16oct@gmail.com
9           Garima Chawla     chawlagarima1909@gmail.com
10          Harshita Rana     harshitarana1102@gmail.com
11             Anmol null       anmolsandy1977@gmail.com
12            Kajal Singh     tanu.sikarwar.77@gmail.com
13            Kajal Singh     tanu.sikarwar.77@gmail.com
14  Avishek  Vikram Singh         alphaman1711@gmail.com
15        Subhan Siddiqui  subhansiddiquiiiiii@gmail.com
16         Anupreet Singh         realanupreet@gmail.com
17    naga_polisetty null          nagasai1602@gmail.com
18        mohammad faisal  mohammadfaisal95111@gmail.com
19          MOHD SARFARAZ     mohdsarfaraz1306@gmail.com
20         Ishita Jaiswal  abhigyanvikramsingh@gmail.com
21                    S k     ishitajaiswal976@gmail.com
22      Priyam Srivastava         sasikiran060@gmail.com
23            Rafid Hasan             gpps0618@gmail.com
24            Bibhu Singh            hrafid001@gmail.com
25            Abhay Yadav         singhbibhu04@gmail.com
26       Aryan Srivastava            ay8873127@gmail.com
27            Ahad Rehman         aryansri1607@gmail.com
28           saurabh Vedi         ahadrehman33@gmail.com
29           saurabh Vedi      saurabh.vedi777@gmail.com
30           saurabh Vedi      saurabh.vedi777@gmail.com
31           saurabh Vedi      saurabh.vedi777@gmail.com
32           saurabh Vedi      saurabh.vedi777@gmail.com

In [23]:
#mege two dataFrame
df1= pd.DataFrame( [{"ram":15,"shyam":19,"gita":12},{"ram":5,"shyam":17,"gita":18}])
df2= pd.DataFrame( [{"rohan":13,"sohan":20,"gita":12},{"rohan":20,"sohan":24,"gita":20}])
print(df1)
print(df2)
# m =pd.merge(df1,df2,on='gita', how='inner')

m =pd.merge(df1,df2,on='gita', how='outer')
print(m)

   ram  shyam  gita
0   15     19    12
1    5     17    18
   rohan  sohan  gita
0     13     20    12
1     20     24    20
    ram  shyam  gita  rohan  sohan
0  15.0   19.0    12   13.0   20.0
1   5.0   17.0    18    NaN    NaN
2   NaN    NaN    20   20.0   24.0